<form action="random/random/results">
  <label for="zebra">Minimum</label>
  <input id="zebra" type="text" name="users_minimum">

  <label for="giraffe">Maximum</label>
  <input id="giraffe" type="text" name="users_maximum">

  <button>Pick random number</button>
</form>

